*{
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;

  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  padding-left:20px;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

.fetchBtn{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border:2px solid black;
  text-align: center;
  margin-left: 20px;
  font-weight: 700;
  font-size: 50px;
  transition: 0.5s;
  background-color: white;
}

.fetchBtn:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
}

.catImg{
  max-width: 300px;
  max-height: 300px;
  margin-top: 20px;
  box-shadow: 2px black black;
}
.catFact{
  font-weight: 200;
  color: white;
  text-align: center;
}

.pageFooter{
  height: 75px;
  background-color: white;
}
